doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-with, initial-scale=1, shrink-to-fit=no')
    link(href='/css/main.css', rel='stylesheet')
    title Login Success
  body
    h1 ID : 
        = id
    hr
    h1 PASSWORD : 
        = password
    hr
    h1 EMAIL : 
        = email
    br
    br
    a(href='/change') change
    br
    br
    a(href='/delete') delete
    br
    br
    a(href='/logout') logout
