doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-with, initial-scale=1, shrink-to-fit=no')
    link(href='/css/main.css', rel='stylesheet')
    title No Match
  body
    h1 There is no matching USER
    br
    a(href='/')
        button(type='button', value='back') Back
