doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-with, initial-scale=1, shrink-to-fit=no')
    link(href='/css/main.css', rel='stylesheet')
    title Sign Up Success
  body
    h1 Sign Up Success
    hr
    h2
      = successMessage
    p
      a(href='/') Login
